<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <script type="module" src="../src/coordpicker.js"></script>
</head>
<body>
<script>
    suite('coordpicker x,y getting/setting', function() {
        const coordPickerSize = 500;
        const thumbCenterOffset = 5/2 + 3; // width/2 + left border
        const container = document.createElement('div');
        container.innerHTML = `<cp-coord-picker style="width: ${coordPickerSize}px; height: ${coordPickerSize}px" x="50" y="50"></cp-coord-picker>`;
        document.body.appendChild(container);
        const coordpicker = container.querySelector('cp-coord-picker');

        test('coordpicker get initial x, y', function () {
            assert.equal(coordpicker.x, 50);
            assert.equal(coordpicker.getAttribute('x'), 50);
            assert.equal(coordpicker.y, 50);
            assert.equal(coordpicker.getAttribute('y'), 50);
            assert.equal(coordpicker.root.querySelector('.thumb').style.left, coordPickerSize * 50/100 - thumbCenterOffset + 'px');
            assert.equal(coordpicker.root.querySelector('.thumb').style.top, coordPickerSize * 50/100 - thumbCenterOffset + 'px');
        });

     /*   test('set coordpicker x, y with JS', function () {
            coordpicker.x = 20;
            assert.equal(coordpicker.x, 20);
            assert.equal(coordpicker.getAttribute('x'), 20);
            assert.equal(coordpicker.root.querySelector('.thumb').style.left, coordPickerSize * 20/100 - thumbCenterOffset + 'px');

            coordpicker.y = 60;
            assert.equal(coordpicker.y, 60);
            assert.equal(coordpicker.getAttribute('y'), 60);
            assert.equal(coordpicker.root.querySelector('.thumb').style.left, coordPickerSize * 60/100 - thumbCenterOffset + 'px');
        });

        test('set coordpicker x, y with attributes', function () {
            coordpicker.setAttribute('value', 30);
            assert.equal(coordpicker.value, 30);
            assert.equal(coordpicker.getAttribute('value'), 30);
            assert.equal(coordpicker.root.querySelector('.thumb').style.left, coordPickerSize * 30/100 - thumbCenterOffset + 'px');
        });*/

        /*test('set coordpicker value too big', function () {
            coordpicker.setAttribute('value', 110);
            assert.equal(coordpicker.value, 100);
            assert.equal(coordpicker.getAttribute('value'), 100);
            assert.equal(coordpicker.root.querySelector('.thumb').style.left, coordPickerSize * 100/100 - thumbCenterOffset + 'px');
        });

        test('set coordpicker value too small', function () {
            coordpicker.setAttribute('value', -10);
            assert.equal(coordpicker.value, 0);
            assert.equal(coordpicker.getAttribute('value'), 0);
            assert.equal(coordpicker.root.querySelector('.thumb').style.left, coordPickerSize * 0/100 - thumbCenterOffset + 'px');
        });*/
    });
</script>
</body>
</html>
