<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coordinate Picker Demo</title>

    <script src="https://unpkg.com/@webcomponents/custom-elements"></script>
    <script src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@1"></script>
    <script src="coordpicker.build.js"></script>
    <link rel="stylesheet" type="text/css" href="../../vars.css">
    <style>
        wcia-coord-picker {
            width: 400px;
            height: 400px;
        }
    </style>
</head>
<body>
<wcia-coord-picker backgroundcolor="#ff0000"></wcia-coord-picker>
</body>
</html>
