<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Color Picker Demo</title>

    <script src="https://unpkg.com/@webcomponents/custom-elements"></script>
    <script src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@1"></script>
    <script src="colorpicker.build.js"></script>
    <link rel="stylesheet" type="text/css" href="../../vars.css">
    <style>
        wcia-color-picker {
            width: 400px;
            height: 400px;
        }
    </style>
</head>
<body>
<wcia-color-picker></wcia-color-picker>
</body>
</html>

