<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <script src="../../../../node_modules/web-component-tester/browser.js"></script>
    <script type="module" src="../src/coordpicker.js"></script>

    <style>
        wcia-coord-picker {
            width: 500px;
            height: 500px;
        }
    </style>
</head>
<body>
<wcia-coord-picker x="50" y="50"></wcia-coord-picker>
<script>
    const coordpicker = document.body.querySelector('wcia-coord-picker');
    const coordPickerSize = 500;
    const thumbCenterOffset = 5/2 + 3; // width/2 + left border

    suite('coordpicker x,y getting/setting', function() {
        test('coordpicker get initial x, y', function () {
            assert.equal(coordpicker.x, 50);
            assert.equal(coordpicker.getAttribute('x'), 50);
            assert.equal(coordpicker.y, 50);
            assert.equal(coordpicker.getAttribute('y'), 50);
            assert.equal(coordpicker.root.querySelector('.thumb').style.left, coordPickerSize * 50/100 - thumbCenterOffset + 'px');
            assert.equal(coordpicker.root.querySelector('.thumb').style.top, coordPickerSize * 50/100 - thumbCenterOffset + 'px');
        });

        test('set coordpicker x, y with JS', function () {
            coordpicker.x = 20;
            assert.equal(coordpicker.x, 20);
            assert.equal(coordpicker.getAttribute('x'), 20);
            assert.equal(coordpicker.root.querySelector('.thumb').style.left, coordPickerSize * 20/100 - thumbCenterOffset + 'px');

            coordpicker.y = 60;
            assert.equal(coordpicker.y, 60);
            assert.equal(coordpicker.getAttribute('y'), 60);
            assert.equal(coordpicker.root.querySelector('.thumb').style.top, coordPickerSize * 60/100 - thumbCenterOffset + 'px');
        });

        test('set coordpicker x, y with attributes', function () {
            coordpicker.setAttribute('x', 30);
            assert.equal(coordpicker.x, 30);

            coordpicker.setAttribute('y', 90);
            assert.equal(coordpicker.y, 90);

            assert.equal(coordpicker.getAttribute('x'), 30);
            assert.equal(coordpicker.getAttribute('y'), 90);
            assert.equal(coordpicker.root.querySelector('.thumb').style.left, coordPickerSize * 30/100 - thumbCenterOffset + 'px');
            assert.equal(coordpicker.root.querySelector('.thumb').style.top, coordPickerSize * 90/100 - thumbCenterOffset + 'px');
        });
    });

</script>
</body>
</html>
