wcia-photo-carousel {
    width: 500px;
    height: 300px;
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    position: relative;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

wcia-photo-carousel h2, h4 {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 10px;
}

wcia-photo-carousel .image-container {
    margin-top: 15px;
    flex: 1;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

wcia-photo-carousel button {
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 48px;
    color: white;
    position: absolute;
    top: 50%;
}

wcia-photo-carousel button.back {
    left: 10px;
}

wcia-photo-carousel button.forward {
    right: 10px;
}
